:root {
    --yellow: #fcd13d;
}

html *, *:before, *:after {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
.container {
    width: 1000px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-auto-rows: 100px ;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 120px;
    height: 40px;
    letter-spacing: .1em;
    text-decoration: none;
}

.nav-box {
    display: flex;
    margin: 70px auto;
    width: 80vw;
}

.nav-link {
    color: #000000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link a {
    color: inherit;
    text-decoration: none;
}

.nav-link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    background-color: #000000;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
}

.nav-link:hover:before {
    transform: translateX(0);
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #000000;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}

.nav-link:hover:after {
    transform: translateX(0);
}

.nav-link span:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000;
    transform: translateY(100%);
    transition: all .3s ease-in-out;
}

.nav-link:hover span:after {
    transform: translateY(0);
}

.nav-link span:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
}

.nav-link:hover span:before {
    transform: translateY(0);
}
